#debugging-smart-tv {
    box-sizing: border-box;
    z-index: 9999999;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    margin: 0;
    padding: 10px;

    overflow: scroll;

    background-color: #000;
    color: #F0CA4D;
    font-family: monospace;
    font-size: 15px;
    opacity: 0.8;

    white-space: pre-line;
}

#debugging-smart-tv em {
    color: #fff;
    font-style: normal;
}

#debugging-smart-tv em span {
    color: #999;
}
